<h2>Championship: <%= @championship.name %></h2>
<p>
<%= link_to 'Drivers', [@championship, :drivers] %>
<%= link_to 'Rounds', [@championship, :rounds] %>
<%= link_to 'Ranking Configuration', [@championship, :ranking_configurations] %>
</p>
<h3>Ranking:</h3>

<table>
    <thead>
        <tr>
            <th>Position</th>
            <th>Driver</th>
            <% @championship.rounds.each do |round| %>
            <th><%= round.name %>
            <% end %>
            <th>Points</th>
        <tr>
    </thead>
    <tbody>
    <% @ranking.each_with_index do |(driver, results), index| %>
        <tr>
            <td><%= index + 1 %>
            <td><%= driver.name %></td>
            <% results[:roundPositions].each do |roundPosition| %>
            <td><%= roundPosition.position%></td>
            <% end %>
            <td><%= results[:points] %></td>
        </tr>
    <% end %>
    </tbody>
</table>
