<h2><%= link_to @championship.name, @championship %> > Rounds</h2>

<p><%= link_to 'Create Round', new_championship_round_path%></p>

<table>
    <thead>
        <tr>
            <th>Round Name</th>
            <th>Track</th>
            <th>Date</th>
            <th>Winner</th>
            <th>Total Time</th>
        </tr>
    </thead>
    <tbody>
<% @rounds.each do |round| %>
    <tr>
        <td><%= link_to round.name, championship_round_path(:id => round.id) %></a></td>
        <td><%=round.track.name%></td>
        <td><%=round.date.strftime '%d/%m/%Y' %></td>
        <td><%=round.winner.driver.name %></td>
        <td><%=round.winner.total_time.strftime '%T' unless round.winner.total_time.nil? %></td>
<% end %>
    </tbody>
</table
