<h2><%= link_to @championship.name, @championship %> > Rounds</h2>

<h3><%= @round.date.strftime("%d/%m/%Y") %> - <%= @round.name %> - <%= @round.track.name %></h3>

<table>
    <thead>
        <tr>
            <th>Position</th>
            <th>Driver</th>
            <th>Total Time</th>
        </tr>
    </thead>
    <tbody>
<% @round.roundPositions.includes(:driver).order('position').each do |r| %>
        <tr>
            <td><%= r.position %></td>
            <td><%= r.driver.name %></td>
            <td><%= r.total_time.strftime("%H:%M:%S") unless r.total_time.nil? %></td>
        </tr>
<% end %>
    </tbody>
</table>

<%= link_to 'Edit Round', edit_championship_round_path %>

