<h2>Championship > Rounds</h2>

<%= @round.date.strftime("%m/%d/%Y") %> - <%= @round.name %> - <%= @round.track.name %>

<table>
    <thead>
        <tr>
            <td>Position</td>
            <td>Driver</td>
            <td>Total Time</td>
        </tr>
    </thead>
<% @round.roundPositions.includes(:driver).order('position').each do |r| %>
    <tbody>
        <td><%= r.position %></td>
        <td><%= r.driver.name %></td>
        <td><%= r.total_time.strftime("%H:%M:%S") %></td>
<% end %>
