<h2><%= link_to @championship.name, @championship %> > Drivers </h2>

<ul>
<% @championship.drivers.each do |driver| %>
    <li><%= driver.name %></li>
<% end %>
</li>

<% if !@available_drivers.empty? %>
    <p>Add drivers to championship:</p>
    <%= form_tag("/championships/#{params[:championship_id]}/drivers", :method => 'post') do %>
        <%= select_tag(:driver_id, options_from_collection_for_select(@available_drivers, :id, :name), :multiple => true) %>
        <%= submit_tag %>
    <% end %>
<% end %>

