<h2><%= link_to @championship.name, @championship %> > Ranking Configuration</h2>

<table>
    <thead>
        <tr>
            <th>&nbsp</th>
            <th>Position</th>
            <th>Points</th>
        </tr>
    </thead>
    <tbody>
<% @rankingConfigurations.each do |rankingConfiguration| %>
        <tr>
            <td><%= button_to 'delete', [@championship, rankingConfiguration], :method => 'delete'  %></td>
            <td><%= rankingConfiguration.position %>
            <td><%= rankingConfiguration.points %>
        </tr>
<% end %>
    </tbody>
</table>

<%= form_for ([@championship, @rankingConfiguration]) do |f| %>
    <%= f.label :position %>
    <%= f.text_field :position %>

    <%= f.label :points %>
    <%= f.text_field :points %>
    <%= f.submit %>
<% end %>
