<!DOCTYPE html>
<html>
<head>
  <title>Gerkart</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="container">
        <header>
            <nav class="round">
                <ul class="menu">
                    <li><%= link_to 'Championships', :championships %></li>
                    <li><%= link_to 'Drivers', :drivers %></li>
                    <li><%= link_to 'Tracks', :tracks %></li>
                </ul>
            </nav>
        </header>
        <section class="round">
            <%= yield %>
        </section>
    </div>
</body>
</html>
